 /* .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #2DBD9B !important;
 }  */


 .mat-checkbox-determinate .mat-checkbox-background,
 .mat-checkbox-checked .mat-checkbox-background {
   background-color: #2DBD9B !important;
   /*PrimaryButton */
 }

 .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
   background-color: #2DBD9B !important;
   /*PrimaryButton */
 }

 .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
   background-color: #2DBD9B !important;
   /*PrimaryButton */
 }

 .mat-dialog-actions,
 mat-dialog-actions {
   margin-left: 75px;
    /* background-color: blue;  */
   padding-top: -10px;
   padding-bottom: -10px;
   margin-top: 20px;
 }
/*
 .scroll-container {
  max-height: 250px;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  background-color: rgba(0, 0, 0, .5);
}


 ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-overflow-scrolling: auto
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(230, 230, 230, 0.774);
  -webkit-overflow-scrolling: auto
} */


::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius:5px;
  border-radius:5px;
  background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius:5px;
  border-radius:5px;
  background:rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(0,0,0,0.3);
}

 .dialogContainer {
  background-color: white;
  min-height: 170px;
  margin: '0 auto';
  padding: 22px 0px 0px 0px;
  border-radius: 8px;
}

 .mat-slide-toggle.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
   background-color: #2DBD9B !important;
   /*PrimaryButton */
 }

 .mat-slide-toggle.mat-slide-toggle-focused .mat-ink-ripple {
   background-color: #2DBD9B !important;
   /*PrimaryButton */
 }

 .mat-slide-toggle-bar,
 .mat-slide-toggle-thumb {
   background-color: #b4b4b4 !important;
 }

 .mat-dialog-content,
 mat-dialog-content {
   /* width: 80px;
    height: 80px;

    margin: 11px 10px 0px 0px !important; */
   align-self: bottom;
   min-height: 95px;
   width: 270px;

 }

 mat-dialog-content,
 ._ngcontent-c8 {

 }

 .placeholder {
   /*DimmedText */
 }

 /*size of the mat-select dropdown box selector*/
 .mat-select-trigger {
   width: 230px;
 }

 .mat-option-pseudo-checkbox {
   background-color: #2DBD9B !important;
   /*PrimaryButton */
 }


 /*Size of the mat-select dropDown box*/
 .mat-select-panel {
   margin-top: 20px;
   margin-left: 10px;
 }

 .mat-progress-circle path,
 .mat-spinner path,
 .mat-spinner {
     stroke: #2DBD9B;
  width: 24px;
  height: 24px;
  margin: 5px 10px 0px 0px;
 }


/* DD start */
 /* .mat-progress-circle path, */
 /* .mat-spinner path,
 .mat-progress-spinner {
     stroke: #2DBD9B;
 } */
 /* DD end */


 .mat-checkbox-checkmark-path {
   stroke: #FFFFFF !important;
   /*ContentBackground*/
 }

 .mat-card {
   background: #FFFFFF !important;
   /*ContentBackground*/
 }

 .callSettingsFontFamily {
   font-family: Roboto !important;
   position: relative !important;
 }

 .mat-list-item-content {
   font-family: Roboto !important;
 }

 .restrictiveButtonStyle {
   font-size: 14px !important;
   outline: none;
 }

 .restrictiveLabelStyle {
   font-size: 12px !important;
   position: relative !important;
   outline: none;
 }

 .restrictiveSmallLabelStyle {
   font-size: 10px !important;
   outline: none;
 }

 .primaryContentText {
   color: #323232 !important;
   outline: none;
 }

 .primaryText {
   color: #FFFFFF !important;
   outline: none;
 }

 .dimmedText {
   outline: none;
   color: #B4B4B4 !important;
 }

 .primaryColor {

   color: #2DBD9B !important;
 }

 .errorTextColor {

   color: #FF3347 !important;
 }

 .primaryBackground {
   background-color: #2DBD9B !important;
 }

 .controlBackground {
   background-color: #F8F8F8 !important;
 }

 .seperators {
   border-bottom: 1px solid #F0F0F0;
 }

 .settingBorder {
   border-top: 1px solid #FFFFFF;
 }


 select,
 .cswDropdownArrow {
   background: url("./../../assets/images/arrow-down.png") no-repeat 100% 50% !important;
 }

 .cswInputContainerFocus {
   border-bottom-color: #2DBD9B !important;
 }

 .headerExpandIcon {
   background: url("./../../assets/images/chevronHeaderClosed.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }

 .headerCollapseIcon {
   background: url("./../../assets/images/chevronHeaderOpen.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }


 .settingExpandIcon {
   background: url("./../../assets/images/chevronContentClosed.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }

 .settingCollapseIcon {
   background: url("./../../assets/images/chevronContentOpen.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }


 .incomingCallIcon {
   background: url("./../../assets/images/incomingcalls.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }

 .outgoingCallIcon {
   background: url("./../../assets/images/outgoingcalls.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }

 .voicemailIcon {
   background: url("./../../assets/images/voicemail.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }

 .callControlIcon {

   background: url("./../../assets/images/callControl.png") no-repeat !important;
   background-repeat: no-repeat !important;
   background-size: contain !important;
 }

 .noServiceIcon {
   background: url("./../../assets/images/settings.png") no-repeat !important;
   background-size: contain !important;
   background-repeat: no-repeat !important;
 }

 .mat-checkbox-inner-container {
   height: 12px !important;
   /*restrictiveLabelStyle*/
   width: 12px !important;
   /*restrictiveLabelStyle*/
 }

 .mat-checkbox-label {
   font-size: 12px !important;
   /*restrictiveLabelStyle*/
   font-family: Roboto !important;
 }

 /* .inputInvokedColor,
 .mat-form-field-ripple {
   color: #2DBD9B !important;
 }


 .callsettingErrorInput,
 .mat-form-field-ripple {
   border-color: #FF3347 !important;
 } */

 /*mat-form-field-underline start*/
 .mat-focused .mat-form-field-ripple {
  background-color: #2DBD9B !important;
}

.inputInvokedColor
.mat-form-field-ripple {
  background-color: #2DBD9B !important;
}

.callsettingErrorInput
.mat-form-field-ripple {
  background-color: #FF3347 !important;
}
 /*mat-form-field-underline end*/

 .appSideBorder {

   border-right: 1px solid #F0F0F0;
   /*DimmedText Color */
   border-left: 1px solid #F0F0F0;
   /*DimmedText Color */
 }

 /* .mat-calendar-content {
  margin: '0 auto';
  background-color: blueviolet;
 }

 .mat-calendar{
  background-color: red;
 } */

 /* date-picker */
 .mat-datepicker-content {
  margin: '0 auto' !important;
  min-width: 50% !important ;
  min-height: 50% !important;
  background-color:white !important;
 } /* buttons in the popup */
 .buttonClass {
   background-color: #2DBD9B;
   color: white;
   text-align: center;
   min-width: 30px;
   min-height: 30px;
 }

 /* set settings button */
 .SetSettingsButtonClass {
  /* background-color: #A9A9A9; */
  background-color: #2DBD9B;
  color: white;
 }

 .dialogContainer {
   background-color: white;
   min-height: 170px;
   margin: '0 auto';
   border-radius: 8px;
 }

 .dialogContainer {
  min-height: 170px;
  margin: '0 auto';
  border-radius: 8px;
  background-color: white;
}

#popUpCheckboxAlert,
 .popUpCheckboxAlert {
   margin-top: 3px;
   margin-left: 80px;
   align-content: center;
   width: 20px;
   height: 30px;
   margin: '0 auto',
 }


 /* the Dialog contents containing the checkbox */
#popUpCheckbox,
 .popUpCheckbox {
   margin-top: 3px;
   margin-left: 80px;
   align-content: center;
   width: 20px;
   height: 10px;
   margin: '0 auto',
 }

 .dialogCheckBox {
    margin-left: 10px;
 }

 /*maximum width*/

 /*.appStyle{
 max-width : 600px ;
 }*/



 .mat-datepicker-content-touch
 .mat-calendar {
  background-color: white !important;
 }
.mat-icon-button {
  background-color: #2DBD9B !important;
  color: white !important;
 }
 .mat-calendar-period-button {
  background-color: #2DBD9B !important;
  color: white !important;
 }

 .mat-button-ripple
 .mat-ripple
 .mat-button-ripple-round {
  background-color: #C0FFF1 !important;
 }

 .mat-button-ripple
 .mat-ripple {
  background-color: #C0FFF1 !important;
 }

 .mat-calendar-body-selected{
  background-color: #2DBD9B !important;
  color: white !important;
}

html {
  -webkit-text-size-adjust: 100%;
}
