<!-- Copyright © 2017 BroadSoft Inc. -->


<mat-list class="primaryContentText">
    <mat-list-item class="simRingDescriptionTextAlign">
        <p mat-line><label class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.broadworks_anywhere.text}}</label></p>
    </mat-list-item>
</mat-list>

<mat-list class="controlBackground primaryContentText">
    <mat-list-item class="itemHeight44 settingBorder">
        <p mat-line class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.broadworks_anywhere.alert_all_locations}}</p>
        <mat-spinner [diameter]="20" style="margin-left: 20px; margin-bottom: 8px" [class.callsettingHide]="isResReceived"></mat-spinner>
        <mat-slide-toggle (change)="updateAlertAllLocations()" (keyup.enter)="updateAlertAllLocations()" [checked]="isAlertAllLocationsChecked" tabindex="0"> </mat-slide-toggle>
        
    </mat-list-item>
</mat-list>

<mat-card (click)="ringNumbersExpand()">
    <mat-list class="controlBackground primaryContentText">
        <mat-list-item class="settingBorder itemHeight44 ">
            <label class="restrictiveLabelStyle" (keyup.enter)="ringNumbersExpand()" tabindex="0">{{customizedTextJson.broadworks_anywhere.ring_numbers}}</label>
            <div *ngIf="isRingNumberExpanded == true" class="settingCollapseIcon">
            </div>
            <div *ngIf="isRingNumberExpanded == false" class="settingExpandIcon">
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>

<div *ngIf="isRingNumberExpanded">
    <mat-list class="controlBackground primaryContentText">
        <div *ngFor="let location of bwAnywhereLocationsUI;">

            <mat-list-item>
                <p mat-line class="secondLevelSettingLeftPadding sequentialRingSelectAlign">
                    <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" [class.inputInvokedColor]="location.numberInpFieldFocused"
                        [class.callsettingErrorInput]="location.ringNumberDelErr||location.ringNoToggleErr||location.phoneNumUpdErr">
                        <input matInput class="inputNumberWidth callsettingMarginNone" [(ngModel)]="location.phoneNumber"
                            (blur)="updateRingNumber($event, location)" id="phNum" (keyup.enter)="updateRingNumber($event, location)"
                            (keyup)="focusNumberInput($event, location);" tabindex="0">
                            <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
                    </mat-form-field>
                </p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.ringNumberDelErr">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.ringNumberDelErr}}</label></p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.ringNoToggleErr">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.ringNoToggleErr}}</label></p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.phoneNumUpdErr">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.phoneNumUpdErr}}</label></p>
                <mat-spinner [diameter]="20" style="margin-left: 20px; margin-bottom: 8px" [class.callsettingHide]="location.isResReceived"></mat-spinner>
                <mat-slide-toggle (change)="isRingNumberActive(location);" [checked]="location.isActive" class="toggleAlign" (keyup.enter)="isRingNumberActive(location);" tabindex="0"> </mat-slide-toggle>

            </mat-list-item>
            <mat-list-item *ngIf="location.isActive" class="noPadding">
                <p mat-line class="thirdLevelSettingLeftPadding broadworksAnywhereAlign">
                    <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" [class.inputInvokedColor]="location.descInpFieldFocused"
                        [class.callsettingErrorInput]="location.descError">
                        <input matInput class="inputNumberWidth callsettingMarginNone" 
                            [(ngModel)]="location.description" id="desc" (blur)="updateDescription($event, location)" (keyup.enter)="updateDescription($event, location)"
                            type="text" (keyup)="focusDescField($event, location)" (change)="changeDescription()" tabindex="0">
                            <mat-placeholder class="placeholder">{{this.customizedTextJson.broadworks_anywhere.set_description}}</mat-placeholder>
                    </mat-form-field>
                </p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.descError">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.descError}}</label></p>
                <p mat-line class="thirdLevelSettingLeftPadding broadworksAnywhereAlign">
                    <mat-checkbox [disableRipple]=true (change)="doNotForwardChecked(location)" [checked]="location.doNotForward" (keyup.enter)="doNotForwardChecked(location)" tabindex="0">
                        {{customizedTextJson.broadworks_anywhere.do_not_forward}}</mat-checkbox>
                </p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.dnfError">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.dnfError}}</label></p>
                <p mat-line class="thirdLevelSettingLeftPadding broadworksAnywhereAlign">
                    <mat-checkbox [disableRipple]=true (change)="isAnswerConfChecked(location)" [checked]="location.answerConfirmation" (keyup.enter)="isAnswerConfChecked(location)" tabindex="0">
                        {{customizedTextJson.broadworks_anywhere.answer_confirmation}}</mat-checkbox>
                </p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.acError">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.acError}}</label></p>
                <p mat-line class="thirdLevelSettingLeftPadding broadworksAnywhereAlign">
                    <mat-checkbox [disableRipple]=true (change)="isCallControlChecked(location)" [checked]="location.callControl" (keyup.enter)="isCallControlChecked(location)" tabindex="0">
                        {{customizedTextJson.broadworks_anywhere.call_control}}</mat-checkbox>
                </p>
                <p mat-line class="secondLevelSettingLeftPadding" *ngIf="location.ccError">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{location.ccError}}</label></p>
            </mat-list-item>
            <mat-list-item class="nestedListItemBottomPadding"></mat-list-item>

        </div>

        <mat-list-item>
            <p mat-line class="secondLevelSettingLeftPadding sequentialRingSelectAlign">
                <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" [class.inputInvokedColor]="isNewNumFieldFocused"
                    [class.callsettingErrorInput]="phoneNumberValidationErr">
                    <input matInput class="inputNumberWidth callsettingMarginNone" id="newNumber"
                        (blur)="addNewRingNumber($event)" (input)="onPasteEvent($event)" (keyup.enter)="addNewRingNumber($event)" (keyup)="focusNewNumberInp($event)" tabindex="0">
                        <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
                </mat-form-field>
            </p>
            <!-- <mat-slide-toggle (change)="isRingNumberActive(location);" class="toggleAlign"> </mat-slide-toggle> -->
            <p mat-line class="secondLevelSettingLeftPadding" *ngIf="phoneNumberValidationErr">
                <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{phoneNumberValidationErr}}</label></p>
        </mat-list-item>
    </mat-list>

</div>