<!-- Copyright © 2017 BroadSoft Inc. -->

<mat-list class="primaryContentText">
    <mat-list-item class="simRingDescriptionTextAlign">
        <p mat-line><label class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.sequential_ring.text}}</label></p>
    </mat-list-item>
</mat-list>

<mat-list class="controlBackground primaryContentText">
    <mat-list-item class="itemHeight44">
        <p mat-line class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.sequential_ring.ring_base_location}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="!ringBaseUpdateInProgress"> </mat-spinner>
        <mat-slide-toggle [checked]="isRingBaseLocationChecked" (change)="ringBaseLocationUpdate($event)" (keyup.enter)="ringBaseLocationUpdate($event)" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <mat-list-item> <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{ringBaseUpdateError}}</label></mat-list-item>
    <mat-list-item class="sequentialRingSelectAlign" *ngIf="isRingBaseLocationChecked">
        <label class="restrictiveLabelStyle secondLevelSettingLeftPadding numberOfRingsAlign" tabindex="0">{{customizedTextJson.sequential_ring.number_of_rings}}</label>
        <select class="restrictiveLabelStyle primaryColor selectLeftMargin callSettingsFontFamily" (change)="updateBaseNumberOfRings($event)"
            [(ngModel)]="baseLocationRingSelected" tabindex="0">
            <option *ngFor="let ringBaseLocationRing of ringBaseLocationRings" class="restrictiveLabelStyle primaryContentText" tabindex="0">
                     {{ringBaseLocationRing}}
            </option>
        </select>
    </mat-list-item>
    <mat-list-item class="nestedListItemBottomPadding selectListItemComponent"  *ngIf="isRingBaseLocationChecked">
           <p mat-line class="secondLevelSettingLeftPadding"><mat-checkbox  [disableRipple]=true [checked]="isContinueIfBusyChecked" 
           (change)="updateContinueIfBusy($event)" (keyup.enter)="updateContinueIfBusy($event)" tabindex="0">{{customizedTextJson.sequential_ring.continue_if_busy}}</mat-checkbox></p>
    </mat-list-item>
    <mat-list-item class="itemHeight44 settingBorder">
         <p mat-line class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.sequential_ring.caller_may_cancel}}</p>
        
        <mat-spinner [diameter]="20"  [class.callsettingHide]="!callerCancelUpdateInProgress"> </mat-spinner>
        <mat-slide-toggle [checked]="isCallerMayCancelChecked" (change)="updateCallerMayCancel($event)" (keyup.enter)="updateCallerMayCancel($event)" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <mat-list-item> <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{callerCancelUpdateError}}</label></mat-list-item>
</mat-list>

<mat-card (click)="ringNumbersExpand()">
<mat-list class="controlBackground primaryContentText">
 <mat-list-item class="settingBorder itemHeight44" >
        <label class="restrictiveLabelStyle" [class.errorTextColor]="seqRingUpdateError" (keyup.enter)="ringNumbersExpand()" tabindex="0">{{customizedTextJson.sequential_ring.ring_numbers}}</label>
        
        <mat-spinner [diameter]="20" [class.callsettingHide]="!ringNumbersUpdateProgress"> </mat-spinner>
            <div *ngIf="isRingNumberExpanded == true" class= "settingCollapseIcon">
            </div>
            <div *ngIf="isRingNumberExpanded == false" class= "settingExpandIcon">
            </div>

 </mat-list-item>
 <p mat-line class="callsettingPanelHeaderServerErrorMsg" *ngIf="seqRingUpdateError">
        <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{seqRingUpdateError}}</label></p>
</mat-list>
</mat-card>
<div *ngIf="isRingNumberExpanded">
    <div *ngFor="let seqRing of seqRingArray ; let i = index " [class.callsettingHide]="!isRingNumberExpanded">
        <div *ngIf="seqRing">
        <mat-list class="controlBackground primaryContentText">
            <mat-list-item>
                <p mat-line class="secondLevelSettingLeftPadding">
                    <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" 
                     [class.callsettingErrorInput]="seqRing.error"  [class.inputInvokedColor]="seqRing.validNumber">
                        <input matInput class="inputNumberWidth callsettingMarginNone" id="{{i}}_seqRing" (keyup)="onNumberChangeUp($event)" (keyup.enter)="sequentialRingNumberEntered($event)"
                        (blur)="sequentialRingNumberEntered($event)" (focus)="onfocus(seqRing)"
                            value="{{seqRing.getNumber()}}" type="text" attr.maxlength="{{phoneNumberMaxLength}}" tabindex="0">
                            <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
                    </mat-form-field>
                </p>
                <p mat-line class="callsettingSequentialRingFieldError" *ngIf="seqRing.error"><label class="restrictiveSmallLabelStyle errorTextColor">{{seqRing.error}}</label></p>
            </mat-list-item>
                    <mat-list-item class="sequentialRingSelectAlign">
        <ng-container *ngIf="!seqRing.error && seqRing.getNumber()">
        <label class="restrictiveLabelStyle thirdLevelSettingLeftPadding numberOfRingsAlign" tabindex="0">{{customizedTextJson.sequential_ring.number_of_rings}}</label>
        <select class="restrictiveLabelStyle primaryColor selectLeftMargin callSettingsFontFamily"
            [(ngModel)]="seqRing.numberOfRings" (change)="updateNumberOfRings(seqRing, i)" tabindex="0">
                <option  *ngFor="let numberOfRing of ringNumbersRings" class="restrictiveLabelStyle primaryContentText" tabindex="0" >
                     {{numberOfRing}}
                </option>
        </select>
        </ng-container>
                    </mat-list-item>
                <mat-list-item class="sequentialRingSelectAlign nestedListItemBottomPadding">
                <p [class.callsettingHide]="!seqRing.getNumber()"  mat-line class="callsettingSequentialRingNumberInput restrictiveLabelStyle thirdLevelSettingLeftPadding numberOfRingsAlign">
                    <mat-checkbox id="{{i}}_seqRingOption" *ngIf="!seqRing.error" [checked]="seqRing.getIsAnswerConfirmationRequired()"
                    [disableRipple]=true (change)="updateAnswerConfirmation(seqRing, i)" (keyup.enter)="updateAnswerConfirmation(seqRing, i)" tabindex="0" >{{customizedTextJson.sequential_ring.answer_confirmation_required}}</mat-checkbox>
                </p>
            </mat-list-item>
        </mat-list>
        </div>
    </div>
</div>
    
<mat-card>
    <mat-card (click)="whenToRingChecked()"  class="controlBackground seqCard">
        <mat-card-title class="restrictiveLabelStyle callSettingsFontFamily primaryContentText" (keyup.enter)="whenToRingChecked()" tabindex="0" >{{customizedTextJson.sequential_ring.when_to_ring}}</mat-card-title>
        <mat-card-subtitle *ngIf="criteriaRequiredError" class="errorTextColor callSettingsFontFamily restrictiveSmallLabelStyle whenToRingErrorMessage" tabindex="0" >{{criteriaRequiredError}}</mat-card-subtitle>
           <div *ngIf="isWhenToRingExpanded == true" class=" settingCollapseIcon ">
        </div>
        <div *ngIf="isWhenToRingExpanded == false" class=" settingExpandIcon ">
        </div>
    </mat-card>

<mat-card class="simRingCriteriaItemBottomAlign controlBackground"></mat-card>
<mat-card *ngIf="isWhenToRingExpanded" class="controlBackground">
    <div *ngFor="let criteria of criteriaArray;">
        <div *ngIf="criteria">
            <mat-list class="primaryContentText">
                <mat-list-item class="simRingCriteriaAlign">
                    <p mat-line class="secondLevelSettingLeftPadding primaryContentText restrictiveLabelStyle" [class.errorTextColor]="criteria.errorMessage" tabindex="0">{{criteria.getName()}}</p>
                    <mat-spinner [diameter]="20" [class.callsettingHide]="!criteria.isUpdateInprogress()"> </mat-spinner>
                    <mat-slide-toggle [checked]="criteria.getIsActive()" (change)="onCriteriaUpdate(criteria)" (keyup.enter)="onCriteriaUpdate(criteria)" tabindex="0">
                    </mat-slide-toggle>
                </mat-list-item>
                <p mat-line class="callsettingPanelHeaderServerErrorMsg secondLevelSettingLeftPadding" *ngIf="criteria.errorMessage">
                    <label class="restrictiveSmallLabelStyle errorTextColor callSettingsFontFamily" tabindex="0">{{criteria.errorMessage}}</label>
            </mat-list>
        </div>
    </div>
    <mat-card class="simRingCriteriaItemBottomAlign controlBackground" ></mat-card>
</mat-card>

