<div class="dialogContainer">
  <mat-dialog-content minHeight="7">
    <br>
    <div id="popUpCheckbox" class="popUpCheckbox" tabindex="1"> 
      <mat-checkbox class="dialogCheckBox" *ngFor="let mobileDeviceNumber of data.mnrmdDOList" [attr.data-value]="mobileDeviceNumber" [checked]="mobileDeviceNumber.checked" [(ngModel)]="mobileDeviceNumber.checked" [value]="allSelectedMobileNumbersUnderMobileIdentity && allSelectedMobileNumbersUnderMobileIdentity.lastIndexOf(mobileDeviceNumber)>-1" tabindex="1">{{mobileDeviceNumber.getName()}}</mat-checkbox>
    </div>
  
  

                <!-- <select *ngIf="!isDesktop" id="mnrmdSelectDropdown" class="cswFullWidth cswSelectDropdown restrictiveLabelStyle callSettingsFontFamily" size="{{mobileDeviceNumbers.length < 3 ? mobileDeviceNumbers.length : 3}}"
                    (change)="onUpdateRingMobileOptionsUnderMobileIdentity($event);" [class.cswInputContainerFocus]="isMNRMDOptionsFocused" (focus)="showRingMobileDropdownForMobileIdentity();" (blur)="onMNRMDDOptionsBlur()" multiple>
                    <option *ngFor="let mobileDeviceNumber of mobileDeviceNumbers" [value]="mobileDeviceNumber" class="restrictiveLabelStyle"
                      [selected]="allSelectedMobileNumbersUnderMobileIdentity && allSelectedMobileNumbersUnderMobileIdentity.lastIndexOf(mobileDeviceNumber)>-1" tabindex="0">{{mobileDeviceNumber}}</option>
                </select> -->
                     
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="buttonClass">{{this.customizedTextJson.dialog.cancel}}</button>
    <button mat-button [mat-dialog-close]="data.mnrmdDOList" class="buttonClass" cdkFocusInitial>{{this.customizedTextJson.dialog.ok}}</button>
  </mat-dialog-actions>
  </div>