<!-- Copyright © 2017 BroadSoft Inc. -->

<md-list class="primaryContentText">
    <md-list-item class="descriptionTextAlign">
        <p md-line class="restrictiveLabelStyle" tabindex="0">
            {{customizedTextJson.broadworks_mobility.text}}
        </p>
    </md-list-item>
</md-list>
<md-card class="controlBackground settingBorder" [class.callsettingDisable]="primaryNumberRetrievingError">
    <md-list class="primaryContentText">
        <md-list-item (click)="primaryNumberExpand()" class="itemHeight44">
            <label class="restrictiveLabelStyle" [class.errorTextColor]="primaryNumberRetrievingError" (keyup.enter)="primaryNumberExpand()" tabindex="0">{{customizedTextJson.broadworks_mobility.primary_number}} {{primaryNumber}}</label>
            
            <div *ngIf="isPrimaryNumberExpanded == true" class="settingCollapseIcon">
            </div>
            <div *ngIf="isPrimaryNumberExpanded == false" class="settingExpandIcon">
            </div>
        </md-list-item>
        <p md-line class="callsettingCallControllServerError" *ngIf="primaryNumberRetrievingError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{primaryNumberRetrievingError}}</label></p>
        
        <md-list-item *ngIf="isPrimaryNumberExpanded">
             
                <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"  *ngIf="devicesToRingCheckboxValidation"><label class="restrictiveSmallLabelStyle errorTextColor">{{devicesToRingCheckboxValidation}}</label></p>
                <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"><md-checkbox  [disableRipple]=true  [checked]="isRingFixedDevicesUnderBWMobilityChecked" (change)="ringFixedDevicesUnderBWMobilityActive()">{{customizedTextJson.broadworks_mobility.ring_fixed_devices}}</md-checkbox></p>
             <p md-line class="secondLevelSettingLeftPadding"  *ngIf="ringFixedDevSrvErr"><label class="restrictiveSmallLabelStyle errorTextColor">{{ringFixedDevSrvErr}}</label></p>
               <p md-line style="font-size:14px ;padding:0px 0px 16px 12px;">

                <span>
                   
                <select *ngIf="!isDesktop" id="pnrfdSelectDropdown" class="cswFullWidth cswSelectDropdown restrictiveLabelStyle controlBackground primaryContentText callSettingsFontFamily" size="{{cOptions.length < 4 ? cOptions.length : 4}}"
                   (blur)="onPNRFDOptionsBlur()" (change)="onSelectSettingsInsidePrimaryNumber($event);" (focus)="showCurrentOptionsDropdown();" [class.cswInputContainerFocus]="isPNRFDOptionsFocused" multiple>
                    <option *ngFor="let opt of cOptions" [value]="opt" class="restrictiveLabelStyle" [selected]="allSelectedSettings && allSelectedSettings.lastIndexOf(opt)>-1">{{opt}}</option>
                </select>

                <span id="{{pnrfdSelectedOptionsTextContainerId}}"  *ngIf="isDesktop" (click)="showCurrentOptionsDropdown();" class="cswInputContainer"
                  (keyup.enter)="showCurrentOptionsDropdown();" [class.cswDesktopInputContainerFocus]="pnrfdDesktopMenuShow" [class.cswInputContainerFocus]="isPNRFDOptionsFocused" tabindex="0"> 
                    <div type="text" id="csSelectedOptionsText" maxlength="10" 
                        class="cswDropdownInput cswTextellipsis restrictiveLabelStyle callSettingsFontFamily controlBackground primaryContentText" [class.callsettingHide]="isPNRFDOptionsFocused && !pnrfdDesktopMenuShow">{{selectedSettings}}</div>
                        <img class="cswDropdownArrow" [class.callsettingHide]="isPNRFDOptionsFocused && !pnrfdDesktopMenuShow">
                </span>

                <desktop-select focusableInTouchMode="false" *ngIf="pnrfdDesktopMenuShow" [selectOptionsList]="pnrfdDOList" [inputContainer]="pnrfdSelectedOptionsTextContainerId"
                    (onChange)="onPNRFDOptionsChange($event);" (onDesktopSelectMenuHide)="onPNRFDOptionsHide($event)" (keyup.esc)="onPNRFDOptionsHide()">
                </desktop-select>

        </span>
        </p>

        </md-list-item>
        <md-list-item *ngIf="isPrimaryNumberExpanded">
            <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"><md-checkbox [checked]="isRingMobileDevicesUnderBWMobilityChecked"  [disableRipple]=true (change)="ringMobileDevicesUnderBWMobilityActive()">{{customizedTextJson.broadworks_mobility.ring_mobile_devices}}</md-checkbox></p>
            <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"  *ngIf="ringMobDevSrvErr"><label class="restrictiveSmallLabelStyle errorTextColor">{{ringMobDevSrvErr}}</label></p>

            <p md-line style="font-size:14px ;padding:0px 0px 24px 12px;">
              
            <span>

                <select *ngIf="!isDesktop" id="pnrmdSelectDropdown" class="cswFullWidth cswSelectDropdown restrictiveLabelStyle callSettingsFontFamily" size="{{mobileDeviceNumbers.length < 4 ? mobileDeviceNumbers.length : 4}}"
                    (change)="onUpdateRingMobileOptions($event);" [class.cswInputContainerFocus]="isPNRMDOptionsFocused" (focus)="showRingMobileOptionsDropdown();" (blur)="onPNRMDOptionsBlur()" multiple>
                    <option *ngFor="let mobileDeviceNumber of mobileDeviceNumbers" [value]="mobileDeviceNumber" class="restrictiveLabelStyle"
                       [selected]="allSelectedMobileDeviceNumbers && allSelectedMobileDeviceNumbers.lastIndexOf(mobileDeviceNumber)>-1" tabindex="0">{{mobileDeviceNumber}}</option>
                </select>

                <span id="{{pnrmdSelectedOptionsTextContainerId}}" *ngIf="isDesktop" (click)="showRingMobileOptionsDropdown();" class="cswInputContainer"
                  (keyup.enter)="showRingMobileOptionsDropdown();" [class.cswDesktopInputContainerFocus]="pnrmdDesktopMenuShow" [class.cswInputContainerFocus]="isPNRMDOptionsFocused" tabindex="0"> 
                    <div type="text" id="csSelectedOptionsText" maxlength="10" 
                        class="cswDropdownInput cswTextellipsis restrictiveLabelStyle callSettingsFontFamily controlBackground primaryContentText" [class.callsettingHide]="isPNRMDOptionsFocused && !pnrmdDesktopMenuShow">{{mobileDeviceOptinputValue}}</div>
                        <img class="cswDropdownArrow" [class.callsettingHide]="isPNRMDOptionsFocused && !pnrmdDesktopMenuShow">
                </span>

                <desktop-select focusableInTouchMode="false" *ngIf="pnrmdDesktopMenuShow" [selectOptionsList]="pnrmdDOList" [inputContainer]="pnrmdSelectedOptionsTextContainerId"
                    (onChange)="onPNRMDOptionsChange($event);" (onDesktopSelectMenuHide)="onPNRMDOptionsHide($event)" (keyup.esc)="onPNRMDOptionsHide()">
                </desktop-select>
            </span>
            
            </p>
        </md-list-item>
    </md-list>
</md-card>









<md-card class="controlBackground settingBorder" [class.callsettingDisable]="mobileNumberRetrievingError">
    <md-list class="primaryContentText" *ngIf="mobileNumber">
        <md-list-item (click)="mobileNumberExpand()" class="itemHeight44">
            <label class="restrictiveLabelStyle" [class.errorTextColor]="mobileNumberRetrievingError"  (keyup.enter)="mobileNumberExpand()" tabindex="0">{{customizedTextJson.broadworks_mobility.mobile_number}}  {{mobileNumber}}</label>
            <div *ngIf="isMobileNumberExpanded == true" class="settingCollapseIcon">
            </div>
            <div *ngIf="isMobileNumberExpanded == false" class="settingExpandIcon">
            </div>
        </md-list-item>
        <p md-line class="callsettingCallControllServerError" *ngIf="mobileNumberRetrievingError">
            <label class="restrictiveSmallLabelStyle errorTextColor">{{mobileNumberRetrievingError}}</label>
        </p>
        <md-list-item *ngIf="isMobileNumberExpanded">
             <p md-line class="secondLevelSettingLeftPadding mobilityEnableAlertAlign"><md-checkbox [disableRipple]=true [checked]="isEnableAlertingChecked" (change)="enableAlertingActive()" (keyup.enter)="enableAlertingActive()" tabindex="0">
                 {{customizedTextJson.broadworks_mobility.enable_alerting}}</md-checkbox></p>
             <p md-line class="secondLevelSettingLeftPadding" *ngIf="enableAlertingErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
                 {{enableAlertingErrMsg}}</label></p>
            <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"><label class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.broadworks_mobility.general_settings}}</label></p>
            <p md-line class="secondLevelSettingLeftPadding" *ngIf="selectGenSettingsErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
                {{selectGenSettingsErrMsg}}</label></p>

       <p md-line style="font-size:14px ;padding:0px 0px 16px 12px;"> 
                
                <span>
                    <select *ngIf="!isDesktop" id="mngsSelectDropdown" class="cswFullWidth cswSelectDropdown restrictiveLabelStyle callSettingsFontFamily" size="{{mngsDOList.length < 3 ? mngsDOList.length : 3}}"
                         (change)="onUpdateGeneralSettingOptions($event);" [class.cswInputContainerFocus]="isMNGSDOptionsFocused" (focus)="showGeneralSettingsDropdown();" (blur)="onMNGSDOptionsBlur()" multiple>
                        <option *ngFor="let genOpt of mngsDOList" [value]="genOpt.name" class="restrictiveLabelStyle"
                          [selected]="allSelectedGeneralSettingsOptions && allSelectedGeneralSettingsOptions.lastIndexOf(genOpt.name)>-1" tabindex="0">{{genOpt.getName()}}</option>
                    </select>
                   
                    <span id="{{mngsSelectedOptionsTextContinerId}}" *ngIf="isDesktop" (click)="showGeneralSettingsDropdown();" class="cswInputContainer"
                      (keyup.enter)="showGeneralSettingsDropdown();" [class.cswDesktopInputContainerFocus]="mngsDesktopMenuShow" [class.cswInputContainerFocus]="isMNGSDOptionsFocused" tabindex="0"> 
                        <div type="text" id="csSelectedOptionsText" maxlength="10" 
                            class="cswDropdownInput cswTextellipsis restrictiveLabelStyle callSettingsFontFamily controlBackground primaryContentText" [class.callsettingHide]="isMNGSDOptionsFocused && !mngsDesktopMenuShow">{{geninputValue}}</div>
                            <img class="cswDropdownArrow" [class.callsettingHide]="isMNGSDOptionsFocused && !mngsDesktopMenuShow">
                    </span>

                    <desktop-select focusableInTouchMode="false" *ngIf="mngsDesktopMenuShow" [selectOptionsList]="mngsDOList" [inputContainer]="mngsSelectedOptionsTextContinerId"
                        (onChange)="onMNGSDOptionsChange($event);" (onDesktopSelectMenuHide)="onMNGSDOptionsHide($event)" (keyup.esc)="onMNGSDOptionsHide()">
                    </desktop-select>
                </span>
            </p>                  
        </md-list-item>


        <md-list-item *ngIf="isMobileNumberExpanded">
            <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"  *ngIf="devicesToRingCheckboxMIValidation"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{devicesToRingCheckboxMIValidation}}</label></p>
 <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"><md-checkbox [checked]="isRingFixedDevicesMobileIdentityChecked"  [disableRipple]=true  (change)="ringFixedDevicesUnderMobileIdentityActive()" (keyup.enter)="ringFixedDevicesUnderMobileIdentityActive()" tabindex="0">
     {{customizedTextJson.broadworks_mobility.ring_fixed_devices}}</md-checkbox></p>
<p md-line class="secondLevelSettingLeftPadding" *ngIf="ringFixedDevMISrvErr"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
    {{ringFixedDevMISrvErr}}</label></p>

       <p md-line style="font-size:14px ;padding:0px 0px 16px 12px;"> 
                <span>
            
                <select *ngIf="!isDesktop" id="mnrfdSelectDropdown" class="cswFullWidth cswSelectDropdown restrictiveLabelStyle callSettingsFontFamily" size="{{cOptions.length < 4 ? cOptions.length : 4}}"
                    (change)="onUpdateOptionsInsideMobileNumber($event);" [class.cswInputContainerFocus]="isMNRFDOptionsFocused" (focus)="showCurrentOptionsDropdownUnderMobileIdentity();" (blur)="onMNRFDOptionsBlur()" multiple>
                    <option *ngFor="let opt of cOptions" [value]="opt" class="restrictiveLabelStyle"
                      [selected]="allSelectedSettingsMobileNumber && allSelectedSettingsMobileNumber.lastIndexOf(opt)>-1" tabindex="0">{{opt}}</option>
                </select>

                
                <span id="{{mnrfdSelectedOptionsTextContainerId}}"  *ngIf="isDesktop" (click)="showCurrentOptionsDropdownUnderMobileIdentity();" class="cswInputContainer"
                  (keyup.enter)="showCurrentOptionsDropdownUnderMobileIdentity();" [class.cswDesktopInputContainerFocus]="mnrfdDesktopMenuShow" [class.cswInputContainerFocus]="isMNRFDOptionsFocused" tabindex="0"> 
                    <div type="text" id="csSelectedOptionsText" maxlength="10" 
                        class="cswDropdownInput cswTextellipsis restrictiveLabelStyle callSettingsFontFamily controlBackground primaryContentText" [class.callsettingHide]="isMNRFDOptionsFocused && !mnrfdDesktopMenuShow">{{selectedSettingsMobileNumber}}</div>
                        <img class="cswDropdownArrow" [class.callsettingHide]="isMNRFDOptionsFocused && !mnrfdDesktopMenuShow">
                </span>

                <desktop-select focusableInTouchMode="false" *ngIf="mnrfdDesktopMenuShow" [selectOptionsList]="mnrfdDOList" [inputContainer]="mnrfdSelectedOptionsTextContainerId"
                    (onChange)="onMNRFDOptionsChange($event);" (onDesktopSelectMenuHide)="onMNRFDOptionsHide($event)" (keyup.esc)="onMNRFDOptionsHide()">
                </desktop-select>
                </span>
            </p>

        </md-list-item>
         <md-list-item *ngIf="isMobileNumberExpanded">
            <p md-line class="secondLevelSettingLeftPadding hintBottomPadding"><md-checkbox [checked]="isRingMobileDevicesUnderMobileIdentityChecked"  [disableRipple]=true (change)="ringMobileDevicesUnderMobileIdentityActive()" (keyup.enter)="ringMobileDevicesUnderMobileIdentityActive()" tabindex="0">
                {{customizedTextJson.broadworks_mobility.ring_mobile_devices}}</md-checkbox></p>
            <p md-line class="secondLevelSettingLeftPadding hintBottomPadding" *ngIf="ringMobDevMISrvErr"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{ringMobDevMISrvErr}}</label></p>

            <p md-line style="font-size:14px ;padding:0px 0px 24px 12px;">
                <span>
            
                <select *ngIf="!isDesktop" id="mnrmdSelectDropdown" class="cswFullWidth cswSelectDropdown restrictiveLabelStyle callSettingsFontFamily" size="{{mobileDeviceNumbers.length < 3 ? mobileDeviceNumbers.length : 3}}"
                    (change)="onUpdateRingMobileOptionsUnderMobileIdentity($event);" [class.cswInputContainerFocus]="isMNRMDOptionsFocused" (focus)="showRingMobileDropdownForMobileIdentity();" (blur)="onMNRMDDOptionsBlur()" multiple>
                    <option *ngFor="let mobileDeviceNumber of mobileDeviceNumbers" [value]="mobileDeviceNumber" class="restrictiveLabelStyle"
                      [selected]="allSelectedMobileNumbersUnderMobileIdentity && allSelectedMobileNumbersUnderMobileIdentity.lastIndexOf(mobileDeviceNumber)>-1" tabindex="0">{{mobileDeviceNumber}}</option>
                </select>
                
                <span id="{{mnrmdSelectedOptionsTextContainerId}}"  *ngIf="isDesktop" (click)="showRingMobileDropdownForMobileIdentity();" class="cswInputContainer"
                  (keyup.enter)="showRingMobileDropdownForMobileIdentity();" [class.cswDesktopInputContainerFocus]="mnrmdDesktopMenuShow" [class.cswInputContainerFocus]="isMNRMDOptionsFocused" tabindex="0"> 
                    <div type="text" id="csSelectedOptionsText" maxlength="10" 
                        class="cswDropdownInput cswTextellipsis restrictiveLabelStyle callSettingsFontFamily controlBackground primaryContentText" [class.callsettingHide]="isMNRMDOptionsFocused && !mnrmdDesktopMenuShow">{{mobileDeviceOptinputValueUnderMobileIdentity}}</div>
                        <img class="cswDropdownArrow" [class.callsettingHide]="isMNRMDOptionsFocused && !mnrmdDesktopMenuShow">
                </span>

                <desktop-select focusableInTouchMode="false" *ngIf="mnrmdDesktopMenuShow" [selectOptionsList]="mnrmdDOList" [inputContainer]="mnrmdSelectedOptionsTextContainerId"
                    (onChange)="onMNRMDDOptionsChange($event);" (onDesktopSelectMenuHide)="onMNRMDDOptionsHide($event)" (keyup.esc)="onMNRMDDOptionsHide()">
                </desktop-select>
            </span>
            </p>
        </md-list-item>
    </md-list>
</md-card>