<!-- Copyright © 2017 BroadSoft Inc. -->


<mat-list class="primaryContentText">
    <mat-list-item class="remoteOfficeDescriptionTextAlign">
        <p mat-line><label class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.remote_office.text}}</label></p>
    </mat-list-item>
    <mat-list-item class="nestedListItemBottomPadding">
        <p mat-line class="secondLevelSettingLeftPadding hintBottomPadding"><label class="secondaryContentText restrictiveSmallLabelStyle " tabindex="0">
            {{customizedTextJson.remote_office.text.remote_phone_number}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding">
            <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" [class.callsettingErrorInput]="roPhonenumberFieldValidationError"
                [class.inputInvokedColor]="isRemoteOfficeInputFieldFocused">
                <input matInput class="inputNumberWidth callsettingMarginNone" id="remoteOfficeNumberId"
                    value="remoteOfficeNumber" [style.width.px]="inputWidth" [(ngModel)]="remoteOfficeNumber" (input)="updateInputCotainerWidth();"
                    (keyup.enter)="onPhonenumberChange($event);" (blur)="onAdditionalsettingsPhonenumberBlur($event);" (change)="stopRedundantBlurCall()" tabindex="0">
                    <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
            </mat-form-field>
        </p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="roUpdateSrvErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{roUpdateSrvErrMsg}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!remoteOfficeNumber"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{this.customizedTextJson.remote_office.err_msg}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="remoteOfficeNumber && roPhonenumberFieldValidationError">
            <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{roPhonenumberFieldValidationError}}</label></p>
    </mat-list-item>
</mat-list>