<!-- Copyright © 2017 BroadSoft Inc. -->


<mat-list class="primaryContentText">
    <mat-list-item class="simRingDescriptionTextAlign">
        <p mat-line><label class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.simultaneous_ring.text}}</label></p>
    </mat-list-item>
</mat-list>
<mat-list class="controlBackground primaryContentText">
    <mat-list-item class="settingBorder itemHeight44">
        <p mat-line class="restrictiveLabelStyle" [class.errorTextColor]="isDoNotRingWhenOnCallUpdateError" tabindex="0">{{customizedTextJson.simultaneous_ring.donot_ring_when_oncall}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="!isDoNotRingWhenOnCallUpdateInprogress"> </mat-spinner>
        <mat-slide-toggle [(ngModel)]="isDoNotRingWhenOnCallChecked" [checked]="isDoNotRingWhenOnCallChecked" (change)="doNotRingWhenOnCallActive($event)" (keyup.enter)="doNotRingWhenOnCallKeyup(isDoNotRingWhenOnCallChecked)" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <p mat-line class="callsettingPanelHeaderServerErrorMsg" *ngIf="isDoNotRingWhenOnCallUpdateError">
        <label class="restrictiveSmallLabelStyle errorTextColor callSettingsFontFamily" tabindex="0">{{isDoNotRingWhenOnCallUpdateError}}</label>
    </p>

    <mat-list-item class="settingBorder itemHeight44">
        <p mat-line class="restrictiveLabelStyle" [class.errorTextColor]="simRingUpdateError" tabindex="0">{{customizedTextJson.simultaneous_ring.ring_numbers}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="!isSimRingUpdateInProgress"> </mat-spinner>
        <mat-slide-toggle [checked]="isRingNumbersChecked" (change)="ringNumberSwitch()" (keyup.enter)="ringNumberSwitch()" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    
    <p mat-line class="callsettingPanelHeaderServerErrorMsg" *ngIf="simRingUpdateError">
        <label class="restrictiveSmallLabelStyle errorTextColor callSettingsFontFamily" tabindex="0">{{simRingUpdateError}}</label>
    </p>
</mat-list>
<div *ngIf="isRingNumbersChecked">
<div *ngFor="let simRing of simRingArray ; let i = index " [class.callsettingHide]="!isRingNumbersChecked">
    <div *ngIf="simRing && !simRing.tempDeleted">
        <mat-list class="controlBackground primaryContentText">
            <mat-list-item>
                <p mat-line class="secondLevelSettingLeftPadding">
                    <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" (keyup.enter)="simultaneousRingNumberEntered($event)" 
                    [class.callsettingErrorInput]="simRing.error"  [class.inputInvokedColor]="simRing.validNumber">
                        <input matInput class="inputNumberWidth callsettingMarginNone" id="{{i}}_simRing" (keyup)="onPhonenumberChange($event);"
                            (blur)="simultaneousRingNumberEntered($event)" (focus)="onfocus(simRing)"
                            value="{{simRing.getNumber()}}" type="text" attr.maxlength="{{phoneNumberMaxLength}}">
                            <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
                    </mat-form-field>
                </p>
                
                <p mat-line class="callsettingSimultaneousRingFieldError" *ngIf="simRing.error"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{simRing.error}}</label></p>
                <p [class.callsettingHide]="!simRing.getNumber()" mat-line class="callsettingSimultaneousRingNumberInput">
                    <mat-checkbox id="{{i}}_simRingOption" *ngIf="!simRing.error" [checked]="simRing.getIsAnswerConfirmationRequired()" tabindex="0"
                        [disableRipple]=true (change)="updateAnswerConfirmationRequired(simRing)" (keyup.enter)="updateAnswerConfirmationRequired(simRing)">{{customizedTextJson.simultaneous_ring.answer_confirmation_required}}</mat-checkbox>
                </p>
                
            </mat-list-item>
        </mat-list>
    </div>
</div>
<mat-card class="simRingRingNumbersBottomAlign controlBackground"></mat-card>
</div>

<mat-card class="controlBackground settingBorder" (click)="whenToRingChecked()" *ngIf="criteriaArray.length">
    <mat-list class="primaryContentText">
        <mat-list-item class="itemHeight44">
        <label class="restrictiveLabelStyle" (keyup.enter)="whenToRingChecked()" tabindex="0">{{customizedTextJson.simultaneous_ring.when_to_ring}}</label>
            <div *ngIf="isWhenToRingExpanded == true" class= "settingCollapseIcon">
            </div>
            <div *ngIf="isWhenToRingExpanded == false" class= "settingExpandIcon">
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>
<mat-card class="simRingCriteriaItemBottomAlign controlBackground"></mat-card>
<mat-card *ngIf="isWhenToRingExpanded" class="controlBackground">
    <div *ngFor="let criteria of criteriaArray;">
        <div *ngIf="criteria">
            <mat-list class="primaryContentText">
                <mat-list-item class="simRingCriteriaAlign">
                    <p mat-line class="secondLevelSettingLeftPadding primaryContentText restrictiveLabelStyle" [class.errorTextColor]="criteria.errorMessage" tabindex="0">{{criteria.getName()}}</p>
                    <mat-spinner [diameter]="20" [class.callsettingHide]="!criteria.isUpdateInprogress()"> </mat-spinner>
                    <mat-slide-toggle [checked]="criteria.getIsActive()" (change)="onCriteriaUpdate(criteria)" (keyup.enter)="onCriteriaUpdate(criteria)" tabindex="0">
                    </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item>
                <p mat-line class="callsettingPanelHeaderServerErrorMsg secondLevelSettingLeftPadding" *ngIf="criteria.errorMessage">
                    <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{criteria.errorMessage}}</label>
                </p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <mat-card  *ngIf="isWhenToRingExpanded == true" class="simRingCriteriaItemBottomAlign controlBackground"></mat-card>
</mat-card>
