<!-- Copyright © 2017 BroadSoft Inc. -->

<mat-card>
        <mat-list *ngIf="voicemailVisible" [class.callsettingDisable]="vmServiceRetrievingError">
            <mat-list-item class="itemHeight44">
                <p mat-line class="restrictiveButtonStyle primaryContentText"  [class.errorTextColor]="vmServiceRetrievingError || vmServiceUpdateError" tabindex="0">{{customizedTextJson.voice_management.name}}</p>
                <mat-spinner [diameter]="20" [class.callsettingHide]="isVoicemailServiceFetched && !isVMServiceUpdateInprgress"></mat-spinner>
                <mat-slide-toggle [checked]="isVoicemailServiceChecked" (change)="voicemailServiceActive()" (keyup.enter)="voicemailServiceActive()"  tabindex="0">
                </mat-slide-toggle>
            </mat-list-item>
            <p mat-line class="callsettingPanelHeaderServerErrorMsg" *ngIf="vmServiceRetrievingError">
                <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{vmServiceRetrievingError}}</label>
            </p>
            <p mat-line class="callsettingPanelHeaderServerErrorMsg" *ngIf="vmServiceUpdateError">
                <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{vmServiceUpdateError}}</label>
            </p>
        </mat-list>
        </mat-card>


        <div *ngIf="isVoicemailServiceChecked" [class.callsettingDisable]="vmServiceRetrievingError">
            <mat-card class="seperators" [class.callsettingDisable]="vmRingSelectedRetrievingError">
                <mat-card (click)="sendCallstoVoicemailChecked()">
                    <mat-list class="primaryContentText">
                        <mat-list-item class="itemHeight44">
                            <label class="restrictiveLabelStyle callSettingsFontFamily" [class.errorTextColor]="vmRingSelectedRetrievingError" (keyup.enter)="sendCallstoVoicemailChecked()" tabindex="0">{{customizedTextJson.voice_management.send_calls_to_voice_mail}}</label>
                            <div *ngIf="issendCallstoVoicemailChecked == true" class="settingCollapseIcon">
                            </div>
                            <div *ngIf="issendCallstoVoicemailChecked == false" class="settingExpandIcon">
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <p mat-line class="callsettingPanelHeaderServerErrorMsg controlBackground" *ngIf="vmRingSelectedRetrievingError">
                        <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{vmRingSelectedRetrievingError}}</label>
                    </p>
                </mat-card>
                <mat-card *ngIf="issendCallstoVoicemailChecked">
                    <mat-list class="controlBackground primaryContentText">
                    <mat-list-item class="nestedListItemBottomPadding">
                        <p mat-line class="secondLevelSettingLeftPadding hintBottomPadding callSettingsFontFamily"><label class="restrictiveSmallLabelStyle" tabindex="0">{{customizedTextJson.voice_management.settings}}</label></p>
                        <p mat-line class="secondLevelSettingLeftPadding">
                            <span>
                            <button mat-button (click)="openDialog()" class="restrictiveLabelStyle SetSettingsButtonClass" ><strong>{{customizedTextJson.voice_management.set_settings}}</strong></button>
                            <p class="restrictiveSmallLabelStyle">{{customizedTextJson.voice_management.selected_settings}} : {{dialogResults}}</p>
                            </span>
                        </p>
                    </mat-list-item>
                        <mat-list-item class="nestedListItemBottomPadding callSettingsFontFamily"> <label class="restrictiveLabelStyle secondLevelSettingLeftPadding numberOfRingsAlign" tabindex="0">{{customizedTextJson.voice_management.number_of_rings}}</label>
                            <select class="restrictiveLabelStyle primaryColor selectLeftMargin callSettingsFontFamily" (change)="setNumberOfRings($event)" [(ngModel)]="voicemailRingSelected" tabindex="0">
                    <option *ngFor="let voicemailRing of voicemailRings" class="restrictiveLabelStyle primaryContentText" tabindex="0" >
                             {{voicemailRing}}
                    </option>
                </select>
                        </mat-list-item>
                         <mat-list-item *ngIf="sendCallsUpdateError" class="messageIndicatorAlign callSettingsFontFamily"><label class="restrictiveSmallLabelStyle errorTextColor secondLevelSettingLeftPadding" tabindex="0">{{sendCallsUpdateError}}</label></mat-list-item>
                    </mat-list>
                </mat-card>
            </mat-card>


            <mat-card class="seperators">
                <mat-card (click)="whenMessageArrivesChecked()">
                    <mat-list class="primaryContentText">
                        <mat-list-item class="itemHeight44">
                            <label class="restrictiveLabelStyle callSettingsFontFamily" (keyup.enter)="whenMessageArrivesChecked()" tabindex="0">{{customizedTextJson.voice_management.when_message_arrives}}</label>
                            <div *ngIf="iswhenMessageArrivesChecked == true" class="settingCollapseIcon">
                            </div>
                            <div *ngIf="iswhenMessageArrivesChecked == false" class="settingExpandIcon">
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card>
                <mat-card *ngIf="iswhenMessageArrivesChecked">
                    <mat-list class="primaryContentText controlBackground">
                        <mat-list-item class="unifiedMessagingAlign">
                            <p mat-line class="restrictiveLabelStyle secondLevelSettingLeftPadding callSettingsFontFamily" tabindex="0">{{customizedTextJson.voice_management.use_unified_messaging}}</p>
                            <mat-slide-toggle [checked]="isunifiedMessagingChecked" (change)="isUnifiedMessagingEnabled()" (keyup.enter)="isUnifiedMessagingEnabled()" tabindex="0"> </mat-slide-toggle>
                        </mat-list-item>
                        <mat-list-item *ngIf="isunifiedMessagingChecked" class="messageIndicatorAlign">
                            <p mat-line class="thirdLevelSettingLeftPadding">
                                <mat-checkbox [checked]="isMessageWaitingIndicatorChecked" [disableRipple]=true class="restrictiveLabelStyle callSettingsFontFamily" (change)="unifiedMessagingIndicatorChecked()" (keyup.enter)="unifiedMessagingIndicatorChecked()" tabindex="0">{{customizedTextJson.voice_management.message_waiting_indicator}}</mat-checkbox>
                                <p>
                        </mat-list-item>
                        <mat-list-item *ngIf="isforwardToEmailChecked" class="cswMessageArrivesAlign"></mat-list-item>
                        <mat-list-item>
                            <p mat-line class="restrictiveLabelStyle secondLevelSettingLeftPadding callSettingsFontFamily" tabindex="0">{{customizedTextJson.voice_management.forward_to_email_address}}</p>
                            <mat-slide-toggle class="forwardToEmailAddressBottomPadding" [checked]="isforwardToEmailChecked" (change)="isForwardToEmailEnabled()" (keyup.enter)="isForwardToEmailEnabled()" tabindex="0">
                            </mat-slide-toggle>
                        </mat-list-item>
                        <mat-list-item *ngIf="isforwardToEmailChecked">
                            <p mat-line class="thirdLevelSettingLeftPadding">
                                <!--this-->
                                <mat-form-field floatLabel="never" class="restrictiveLabelStyle forwardToEmailInputAlign callSettingsFontFamily" [class.callsettingErrorInput]="forwardToEmailError"
                                    [class.inputInvokedColor]="isForwardToEmailFocused" >
                                    <input matInput value="deliveryEmailAddress" class="callsettingMarginNone" [(ngModel)]="deliveryEmailAddress"
                                        [style.width.px]="ForwardToEmailInputWidth" (blur)="forwardToEmailAddress($event)" (input)="updateForwardToEmailInputWidth()"
                                        (keyup)="forwardToEmailKeyup()" (keyup.enter)="forwardToEmailAddress($event)" tabindex="0">
                                       <mat-placeholder class="placeholder">{{customizedTextJson.voice_management.set_email_address}}</mat-placeholder>
                                </mat-form-field>
                            </p>
                                    <p mat-line class="thirdLevelSettingLeftPadding" *ngIf="!deliveryEmailAddress "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{customizedTextJson.voice_management.email_address_required}} </label></p>
                                    <p mat-line class="thirdLevelSettingLeftPadding" *ngIf="deliveryEmailAddress &&  forwardToEmailError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{forwardToEmailError}} </label></p>
                        </mat-list-item>
                        <mat-list-item class="cswMessageArrivesAlign"></mat-list-item>
                         <mat-list-item *ngIf="forwardToEmailUpdateError" class="messageIndicatorAlign"><label class="restrictiveSmallLabelStyle errorTextColor thirdLevelSettingLeftPadding" tabindex="0">{{forwardToEmailUpdateError}}</label></mat-list-item>
                    </mat-list>
                </mat-card>
            </mat-card>



            <mat-list class="primaryContentText">
                <mat-list-item class="itemHeight44 settingBorder">
                    <p mat-line class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.voice_management.email_notification}}</p>
                    <mat-slide-toggle [checked]="isEmailNotificationChecked" (change)="emailNotificationChecked($event)" (keyup.enter)="emailNotificationChecked($event)" tabindex="0">
                    </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item *ngIf="isEmailNotificationChecked" class="nestedListItemBottomPadding">
                    <p mat-line class="secondLevelSettingLeftPadding">
                        <mat-form-field floatLabel="never" class="restrictiveLabelStyle" [class.callsettingErrorInput]="emailNotificationError"
                            [class.inputInvokedColor]="isEmailNotificationFocused">
                            <input matInput id="sendByEmailId" value="notifyEmailAddress"
                                [style.width.px]="EmailNotificationInputWidth" class="callsettingMarginNone" [(ngModel)]="notifyEmailAddress" (blur)="emailNotificationInput($event)"
                                (input)="updateEmailNotificationInputWidth()" (keyup)="emailNotificationKeyup()" (keyup.enter)="emailNotificationInput($event)" tabindex="0">
                                <mat-placeholder class="placeholder">{{customizedTextJson.voice_management.set_email_address}}</mat-placeholder>
                        </mat-form-field>
                    </p>
                    <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!notifyEmailAddress "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{customizedTextJson.voice_management.email_address_required}} </label></p>
                    <p mat-line class="secondLevelSettingLeftPadding" *ngIf="notifyEmailAddress &&  emailNotificationError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{emailNotificationError}} </label></p>
                </mat-list-item>
                <mat-list-item *ngIf="emailNotificationUpdateError" class="messageIndicatorAlign"><label class="restrictiveSmallLabelStyle errorTextColor secondLevelSettingLeftPadding" tabindex="0">{{emailNotificationUpdateError}}</label></mat-list-item>
                <mat-list-item class="itemHeight44 settingBorder">
                    <p mat-line class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.voice_management.email_carbon_copy}}</p>
                    <mat-slide-toggle [checked]="isEmailCarbonCopyChecked" (change)="emailCarbonCopyChecked($event)" (keyup.enter)="emailCarbonCopyChecked($event)" tabindex="0"> </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item class="nestedListItemBottomPadding" *ngIf="isEmailCarbonCopyChecked">
                    <p mat-line class="secondLevelSettingLeftPadding">
                        <mat-form-field floatLabel="never" id="emailCarbonCopyContainer" class="restrictiveLabelStyle" [class.callsettingErrorInput]="emailCarbonCopyError"
                            [class.inputInvokedColor]="isEmailCarbonCopyFocused">
                            <input matInput id="emailCarbonCopyEmailId" value="carbonCopyEmailAddress"
                                [style.width.px]="EmailCarbonCopyInputWidth" class="callsettingMarginNone" [(ngModel)]="carbonCopyEmailAddress"
                                (blur)="emailCarbonCopyInput($event)" (input)="updateEmailCarbonCopyInputWidth()" (keyup)="emailCarbonCopyKeyup()"
                                (keyup.enter)="emailCarbonCopyInput($event)" tabindex="0">
                                <mat-placeholder class="placeholder">{{customizedTextJson.voice_management.set_email_address}}</mat-placeholder>
                        </mat-form-field>
                    </p>
                    <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!carbonCopyEmailAddress "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{customizedTextJson.voice_management.email_address_required}} </label></p>
                    <p mat-line class="secondLevelSettingLeftPadding" *ngIf="carbonCopyEmailAddress &&  emailCarbonCopyError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{emailCarbonCopyError}} </label></p>
                </mat-list-item>
                 <mat-list-item *ngIf="emailCarbonCopyUpdateError" class="messageIndicatorAlign"><label class="restrictiveSmallLabelStyle errorTextColor secondLevelSettingLeftPadding">{{emailCarbonCopyUpdateError}}</label></mat-list-item>
                <mat-list-item class="itemHeight44 settingBorder">
                    <p mat-line class="restrictiveLabelStyle" tabindex="0">{{customizedTextJson.voice_management.press_0_to_transfer}}</p>
                    <mat-slide-toggle [checked]="isTransferChecked" (change)="transferNumberChecked($event)" (keyup.enter)="transferNumberChecked($event)" tabindex="0"> </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item class="nestedListItemBottomPadding" *ngIf="isTransferChecked">
                    <p mat-line class="secondLevelSettingLeftPadding">
                        <mat-form-field class="inputNumberWidth" floatLabel="never" class="restrictiveLabelStyle" [class.callsettingErrorInput]="transferNumberError"
                            [class.inputInvokedColor]="isTransferNumberFocused">
                            <input matInput id="transferEmailId" value="transferPhoneNumber" attr.maxlength="{{phoneNumberMaxLength}}" class="callsettingMarginNone" [(ngModel)]="transferPhoneNumber"
                                (input)="onPasteEvent($event)" (blur)="transferPhoneNumberInput($event)" (keyup)="onPhoneNumberChange($event);"
                                (keydown)="onPhonenumberKeydown($event);" (keyup.enter)="transferPhoneNumberInput($event)" tabindex="0">
                                <mat-placeholder class="placeholder">{{customizedTextJson.set_number}}</mat-placeholder>
                        </mat-form-field>
                    </p>
                    <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!transferPhoneNumber "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{customizedTextJson.voice_management.phone_number_required}} </label></p>
                    <p mat-line class="secondLevelSettingLeftPadding" *ngIf="transferPhoneNumber &&  transferNumberError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{transferNumberError}} </label></p>
                </mat-list-item>
                <mat-list-item *ngIf="transferNumberUpdateError" class="messageIndicatorAlign"><label class="restrictiveSmallLabelStyle errorTextColor secondLevelSettingLeftPadding" tabindex="0">{{transferNumberUpdateError}}</label></mat-list-item>
            </mat-list>
        </div>
