<!-- Copyright © 2017 BroadSoft Inc. -->


<mat-list class="controlBackground primaryContentText">

    <mat-list-item class="settingBorder itemHeight44" *ngIf='getIncomingComponentInstance().cfaVisible' [class.callsettingDisable]="cfAlwaysRetrievingError">
        <p mat-line class=" restrictiveLabelStyle" [class.errorTextColor]="cfAlwaysRetrievingError" tabindex="0">{{customizedTextJson.call_forwarding_always.name}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="isCFAFetched"> </mat-spinner>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfaUpdateSvrErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{cfaUpdateSvrErrMsg}}</label></p>
        <mat-slide-toggle [checked]="isCallForwardingAlwaysChecked" (change)="callForwardingAlwaysActive()" (keyup.enter)="callForwardingAlwaysActive()" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <p mat-line class="callsettingCFServerError" *ngIf="cfAlwaysRetrievingError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{cfAlwaysRetrievingError}}</label></p>
    <mat-list-item *ngIf="isCallForwardingAlwaysChecked" class="nestedListItemBottomPadding" [class.callsettingDisable]="cfAlwaysRetrievingError">
        <p mat-line class="secondLevelSettingLeftPadding">
            <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" (keyup.enter)="getCallForwardingAlwaysInput($event)"
                [class.callsettingErrorInput]="cfaPhonenumberFieldValidationError" [class.inputInvokedColor]="isCFAInputFieldFocused">
                <input matInput class="inputNumberWidth callsettingMarginNone" id="cfaNumberId"
                    value="cfAlwaysNumber" [(ngModel)]="cfAlwaysNumber" (keyup)="onPhonenumberChange1($event);" tabindex="0"
                    (keydown)="onPhonenumberChange1($event);" (blur)="getCallForwardingAlwaysInput($event)" (change)="stopReduntantBlurCall()">
                    <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
            </mat-form-field>
        </p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!cfAlwaysNumber "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{customizedTextJson.call_forwarding_always.err_text}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfAlwaysNumber && cfaPhonenumberFieldValidationError ">
            <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{cfaPhonenumberFieldValidationError}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding">
            <mat-checkbox [checked]="isCfaRingSplashChecked" (change)="cfaRingSplashActive()" (keyup.enter)="cfaRingSplashActive()" class="nestedCheckboxPadding " [disableRipple]=true tabindex="0">
                {{customizedTextJson.call_forwarding_always.ring_splash}}</mat-checkbox>
        </p>
    </mat-list-item>

    <mat-list-item class="settingBorder itemHeight44" *ngIf='getIncomingComponentInstance().cfnaVisible' [class.callsettingDisable]="cfNoanswerRetrievingError">
        <p mat-line class="restrictiveLabelStyle " [class.errorTextColor]="cfNoanswerRetrievingError" tabindex="0">{{customizedTextJson.call_forwarding_no_answer.name}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="isCFNAFetched"> </mat-spinner>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfnaUpdateSrvErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{cfnaUpdateSrvErrMsg}}</label></p>

        <mat-slide-toggle [checked]="isCallForwardingNoAnswerChecked" (change)="callForwardingNoAnswerActive()" (keyup.enter)="callForwardingNoAnswerActive()" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <p mat-line class="callsettingCFServerError" *ngIf="cfNoanswerRetrievingError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
        {{cfNoanswerRetrievingError}}</label></p>
    <mat-list-item *ngIf="isCallForwardingNoAnswerChecked" [class.callsettingDisable]="cfNoanswerRetrievingError">
        <p mat-line class="secondLevelSettingLeftPadding">
            <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" (keyup.enter)="getCallForwardingNoAnswerInput($event)"
                [class.callsettingErrorInput]="cfnaPhonenumberFieldValidationError" [class.inputInvokedColor]="isCFNAInputFieldFocused">
                <input matInput class="inputNumberWidth callsettingMarginNone" id="cfnaNumberId" tabindex="0"
                    value="cfNoAnswerNumber" [(ngModel)]="cfNoAnswerNumber"  (keyup)="onPhonenumberChange1($event);" (change)="stopReduntantBlurCall()"
                    (keydown)="onPhonenumberChange1($event);" (blur)="getCallForwardingNoAnswerInput($event)">
                    <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
            </mat-form-field>
        </p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!cfNoAnswerNumber "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{customizedTextJson.call_forwarding_no_answer.err_text}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfNoAnswerNumber && cfnaPhonenumberFieldValidationError ">
            <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{cfnaPhonenumberFieldValidationError}}</label></p>

    </mat-list-item>
    <mat-list-item *ngIf="isCallForwardingNoAnswerChecked" class="nestedListItemBottomPadding selectListItemComponent" [class.callsettingDisable]="cfNoanswerRetrievingError">
        <label class="restrictiveLabelStyle secondLevelSettingLeftPadding" tabindex="0">{{customizedTextJson.call_forwarding_no_answer.no_of_rings}}</label>
        <select class="restrictiveLabelStyle primaryColor selectLeftMargin callSettingsFontFamily" (change)="selectNoOfRings($event)" [(ngModel)]="noOfRingsSelected" tabindex="0"> 
                        <option class="restrictiveLabelStyle primaryContentText" *ngFor="let ring of rings" tabindex="0">
                            {{ring}}
                        </option>
                    </select>

    </mat-list-item>

    <mat-list-item class="settingBorder itemHeight44" *ngIf='getIncomingComponentInstance().cfbVisible' [class.callsettingDisable]="cfBusyRetrievingError">
        <p mat-line class="restrictiveLabelStyle " [class.errorTextColor]="cfBusyRetrievingError" tabindex="0">{{customizedTextJson.call_forwarding_busy.name}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="isCFBFetched"> </mat-spinner>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfbUpdateSrvErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{cfbUpdateSrvErrMsg}}</label></p>

        <mat-slide-toggle [checked]="isCallForwardingBusyChecked" (change)="callForwardingBusyActive()" (keyup.enter)="callForwardingBusyActive()" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <p mat-line class="callsettingCFServerError" *ngIf="cfBusyRetrievingError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{cfBusyRetrievingError}}</label></p>
    <mat-list-item *ngIf="isCallForwardingBusyChecked" class="nestedListItemBottomPadding" [class.callsettingDisable]="cfBusyRetrievingError">
        <p mat-line class="secondLevelSettingLeftPadding">
            <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" (keyup.enter)="getCallForwardingBusyInput($event)"
                [class.callsettingErrorInput]="cfbPhonenumberFieldValidationError" [class.inputInvokedColor]="isCFBInputFieldFocused">
                <input matInput class="inputNumberWidth callsettingMarginNone" id="cfbNumberId"
                    value="cfBusyNumber" [(ngModel)]="cfBusyNumber" (keyup)="onPhonenumberChange1($event);" (change)="stopReduntantBlurCall()" tabindex="0"
                    (keydown)="onPhonenumberChange1($event);" (blur)="getCallForwardingBusyInput($event)">
                    <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
            </mat-form-field>
        </p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!cfBusyNumber "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0"> 
            {{customizedTextJson.call_forwarding_busy.err_text}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfBusyNumber && cfbPhonenumberFieldValidationError">
            <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{cfbPhonenumberFieldValidationError}}</label></p>

    </mat-list-item>

    <mat-list-item class="settingBorder itemHeight44" *ngIf='getIncomingComponentInstance().cfnrVisible' [class.callsettingDisable]="cfNotReachableRetrievingError">
        <p mat-line class="restrictiveLabelStyle " [class.errorTextColor]="cfNotReachableRetrievingError" tabindex="0">{{customizedTextJson.call_forwarding_not_reachable.name}}</p>
        <mat-spinner [diameter]="20" [class.callsettingHide]="isCFNRFetched"> </mat-spinner>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfnrUpdateSrvErrMsg"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{cfnrUpdateSrvErrMsg}}</label></p>

        <mat-slide-toggle [checked]="isCallForwardingNotReachableChecked" (change)="callForwardingNotReachableActive()" (keyup.enter)="callForwardingNotReachableActive()" tabindex="0"> </mat-slide-toggle>
    </mat-list-item>
    <p mat-line class="callsettingCFServerError" *ngIf="cfNotReachableRetrievingError"><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
        {{cfNotReachableRetrievingError}}</label></p>
    <mat-list-item *ngIf="isCallForwardingNotReachableChecked" class="nestedListItemBottomPadding" [class.callsettingDisable]="cfNotReachableRetrievingError">
        <p mat-line class="secondLevelSettingLeftPadding">
            <mat-form-field class="restrictiveLabelStyle inputNumberWidth placeholderText" floatLabel="never" (keyup.enter)="getCallForwardingNotReachableInput($event)"
                [class.callsettingErrorInput]="cfnrPhonenumberFieldValidationError" [class.inputInvokedColor]="isCFNRInputFieldFocused">
                <input matInput class="inputNumberWidth callsettingMarginNone" id="cfnrNumberId"
                    value="cfNotReachableNumber" [(ngModel)]="cfNotReachableNumber" (keyup)="onPhonenumberChange1($event);" (change)="stopReduntantBlurCall()"
                    (keydown)="onPhonenumberChange1($event);" (blur)="getCallForwardingNotReachableInput($event)" tabindex="0">
                    <mat-placeholder class="placeholder">{{this.customizedTextJson.set_number}}</mat-placeholder>
            </mat-form-field>
        </p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="!cfNotReachableNumber "><label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">
            {{customizedTextJson.call_forwarding_not_reachable.err_text}}</label></p>
        <p mat-line class="secondLevelSettingLeftPadding" *ngIf="cfNotReachableNumber && cfnrPhonenumberFieldValidationError">
            <label class="restrictiveSmallLabelStyle errorTextColor" tabindex="0">{{cfnrPhonenumberFieldValidationError}}</label></p>

    </mat-list-item>
</mat-list>