<!-- Copyright © 2017 BroadSoft Inc. -->

<mat-card class="seperators" *ngIf='isCallCenterQueueVisible' [class.callsettingDisable]="getCCRetrievingError()">
    <mat-card (click)=focusCallCenter()>
        <mat-card-title class="primaryContentText restrictiveButtonStyle callSettingsFontFamily" [class.errorTextColor]="getCCRetrievingError()" (keyup.enter)=focusCallCenter() tabindex="0">{{customizedTextJson.callcenter.name}}</mat-card-title>
        <mat-card-subtitle class="primaryColor restrictiveSmallLabelStyle callSettingsFontFamily" *ngIf="!getCCRetrievingError() && callCenterService.fetchCCAcdState()" tabindex="0">{{customizedTextJson.callcenter.status}} - {{callCenterService.fetchCCAcdState()}}</mat-card-subtitle>
        <mat-card-subtitle class="primaryColor restrictiveSmallLabelStyle callSettingsFontFamily" *ngIf="!getCCRetrievingError() && !callCenterService.fetchCCAcdState()" tabindex="0"></mat-card-subtitle>
        <mat-spinner [diameter]="20" style="margin-left: 20px; margin-bottom: 8px" [class.callsettingHide]="getCCupdate()"> </mat-spinner>
        <div *ngIf="!isCallcenterExpanded && !getCCRetrievingError()" class=" settingExpandIcon  "></div>
        <div *ngIf="isCallcenterExpanded && !getCCRetrievingError()" class=" settingCollapseIcon ">
        </div>
        <p mat-line class="callsettingTwoLinesHeaderServerErrorMsg" *ngIf="getCCRetrievingError()">
            <label class="restrictiveSmallLabelStyle errorTextColor callSettingsFontFamily" tabindex="0">{{getCCRetrievingError()}}</label>
        </p>
    </mat-card>
    <mat-card *ngIf="isCallcenterExpanded && !getCCRetrievingError()">
        <app-call-center></app-call-center>
    </mat-card>
</mat-card>

<mat-card class="seperators" [class.callsettingDisable]="bwMobilityRetrievingError" *ngIf='broadWorksMobilityVisible'>
    <mat-card (click)=focusBroadWorksMobility()>
        <mat-card-title class="primaryContentText restrictiveButtonStyle callSettingsFontFamily"  [class.errorTextColor]="bwMobilityRetrievingError" (keyup.enter)=focusBroadWorksMobility() tabindex="0">{{customizedTextJson.broadworks_mobility.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="isBroadWorksMobilityActive == true" class="primaryColor restrictiveSmallLabelStyle callSettingsFontFamily" [class.callsettingHide]="bwMobilityRetrievingError" tabindex="0">{{customizedTextJson.broadworks_mobility.on_text}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="isBroadWorksMobilityActive == false" class="dimmedText restrictiveSmallLabelStyle callSettingsFontFamily" [class.callsettingHide]="bwMobilityRetrievingError" tabindex="0">{{customizedTextJson.broadworks_mobility.off_text}}</mat-card-subtitle>
        <mat-spinner [diameter]="20" style="margin-left: 20px; margin-bottom: 8px" [class.callsettingHide]="isBWMobilityfetched"> </mat-spinner>
        <div *ngIf="isBroadWorksMobilityActive == true">
        <div *ngIf="isBroadWorksMobilityActive == true && !isBWMobilityExpanded" class=" settingExpandIcon  ">
        </div>
        <div *ngIf="isBroadWorksMobilityActive == false || isBWMobilityExpanded" class=" settingCollapseIcon ">
        </div></div>
        <p mat-line class="callsettingTwoLinesHeaderServerErrorMsg" *ngIf="bwMobilityRetrievingError">
            <label class="restrictiveSmallLabelStyle errorTextColor callSettingsFontFamily" tabindex="0">{{bwMobilityRetrievingError}}</label>
        </p>
    </mat-card>
    <mat-card *ngIf="isBroadWorksMobilityActive && isBWMobilityExpanded && !bwMobilityRetrievingError"  >
        <app-broadworks-mobility></app-broadworks-mobility>
    </mat-card>
</mat-card>


<mat-card class="seperators" *ngIf='isBWAnywhereVisible'>
    <mat-card (click)=focusBroadWorksAnywhere()>
        <mat-card-title class="primaryContentText restrictiveButtonStyle callSettingsFontFamily" (keyup.enter)=focusBroadWorksAnywhere() tabindex="0">{{customizedTextJson.broadworks_anywhere.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="getIsBWAnywhereActive() == true && getIsAnyLocationEnabled() == true" class="primaryColor restrictiveSmallLabelStyle callSettingsFontFamily" tabindex="0" >{{customizedTextJson.service_on}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="getIsBWAnywhereActive() == false" class="dimmedText restrictiveSmallLabelStyle callSettingsFontFamily" tabindex="0" >{{customizedTextJson.broadworks_anywhere.off_location_not_configured}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="getIsBWAnywhereActive() == true && getIsAnyLocationEnabled() == false" class="dimmedText restrictiveSmallLabelStyle callSettingsFontFamily" tabindex="0" >
            {{customizedTextJson.broadworks_anywhere.off_location_not_enabled}}</mat-card-subtitle>
        <mat-spinner [diameter]="20" style="margin-left: 20px; margin-bottom: 8px" [class.callsettingHide]="getIsBWAnywhereFetched()"> </mat-spinner>
        <div>
        <div *ngIf="isBWAnywhereExpanded == true" class=" settingCollapseIcon  ">
        </div>
        <div *ngIf="isBWAnywhereExpanded == false" class=" settingExpandIcon ">
        </div>
        </div>
    </mat-card>
    <mat-card *ngIf="isBWAnywhereExpanded "  >
        <app-broadworks-anywhere></app-broadworks-anywhere>
    </mat-card>
</mat-card>

