<div id="desktopSelectContainer" class="cswDesktopSelectContainer cswFullWidth cswSelectDropdown restrictiveLabelStyle"
 [class.cswHide]="!selectOptionsList || !selectOptionsList.length || !selectOptionsList.length === 1">
        <md-checkbox *ngFor="let opt of selectOptionsList" [attr.data-value]="opt.name" class="cswInputContainerOption"
        (change)="onSendCallsUpdateOptions(opt.isSelectAllOption(), opt.isNoneOption());" [checked]="opt.checked" [(ngModel)]="opt.checked">{{opt.getName()}}</md-checkbox>
</div>
