<div id="desktopSelectContainer" class="cswDesktopSelectContainer cswFullWidth cswSelectDropdown restrictiveLabelStyle"
 [class.cswHide]="!selectOptionsList || !selectOptionsList.length">
        <mat-checkbox *ngFor="let opt of selectOptionsList" [attr.data-value]="opt.name" class="cswInputContainerOption"
        (change)="onSendCallsUpdateOptions(opt.isSelectAllOption(), opt.isNoneOption());" [checked]="opt.checked" [(ngModel)]="opt.checked" tabindex="1">{{opt.getName()}}</mat-checkbox>
</div>
